@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: var(--font-inter);
  --font-libre: var(--font-libre);
  --font-bon-vivant: var(--font-bon-vivant);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-bon-vivant);
}

::selection {
  background-color: black;
  color: white;
}

::-moz-selection {
  background-color: black;
  color: white;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  .heading {
    font-family: var(--font-bon-vivant), serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* background-color: #fffff f; */
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");

  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* border-radius: 2rem; */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
